<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INDEX</title>
</head>
<body>

Hello from index<br>

<h3>Cookie Value:</h3> 
{{range .}}
<b>{{.}}</b><br>
{{end}}
</body>
</html>