<DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>
			Hello World!
		</title>
	</head>
	<body>
		{{ .Name }}		
		{{ .Age }}		
		{{ .SomeProcessing }}		
		{{ .AgeDbl }}		
		{{ .AgeDbl | .TaskArg }}		
	</body>
</html>