<DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>
			Hello World!
		</title>
	</head>
	<body>
		{{ range .Wisdom }}
		{{uc .Name }}
		{{ end }}

		{{ range .Wisdom }}
		{{ft .Motto }}
		{{ end }}
	</body>
</html>