<DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>
			Hello World!
		</title>
	</head>
	<body>
		Without date formating: {{ . }}

		With date formating: {{ fdateDMY . }}
	</body>
</html>