<DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>
			Hello World!
			Nested templates 
		</title>
	</head>
	<body>
		<h1>The meaning of Life:{{ . }}</h1>
		<p>{{ template "polarbear" . }}</p>
	</body>
</html>